.bg-nav {
    background: #FFE600;
}

.input-search {
    display: block;
    width: 100%;
    padding: 0px 20px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #FFFFFF;
    appearance: none;
}

input::placeholder {
    color: #999999;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.logo {
    width: 70px;
    padding-left: 1px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.btn-search {
    background: #EEEEEE;
    outline:none;
}

button{
    border-radius:10px;
    outline:none;
}
